.ganttVerticalContainer {
  font-size: 0;
  margin: 0;
  padding: 0;
}

.horizontalContainer {
  background-color: "red";
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
}
